
/* hero section******************************************/ 
.back_link{
   margin: 15px 3%;
}

.back_link a{
	font-size: 1.2em;
}

.hero{
	margin: 5px 3%;
}

.hero img{
	width: 100%;
}


/* product list section *********************************/

/*header ************/

section{
	min-height: 90vh;        /* to fit all the space on different devices */
	margin:  70px 3%;
}

.filter_header{
	margin: 10px 0px;
	padding: 0px 3%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter_header h1{
	margin: 8px 0px;
	font-size: 2em;
}

.filter_header img{
	width: 25px;
	height: 25px;
	margin-left:10px ;
}

.filter_header label{
   color: gray;
}

.filter_header select{
	padding: 3px 6px;
	border: 1px solid black;
}

.filter_header input{
	text-align: center;
	width: 60px;
}

/* aside filter ***************/
aside{
  	width: 25%;
  	float: left;
  	margin-bottom: 100px;
}

.filter_header fieldset{
	border: none;
	margin: 0px;
	padding: 0px;
}

.gender{
	border-top: none;
}

.gender input,.size input ,.color input{
	display: none;
}

table{
	border-collapse: collapse;
	width: 100%;
}

.gender td{
	border : 1px solid black;
	width:50%;
	text-align: center;
}

.gender label{
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
}

.gender label:hover{
 	background: black;
   color: white;
   transition: 0.5s;
}

.gender input:checked + label{
	background: black;
   color: white;
}

.size td{
	border: 1px solid black;
	width: 25%;
	text-align: center;
}

.size label{
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
}

.size label:hover{
	background: black;
   color: white;
   transition: 0.5s;
}

.size input:checked + label{
	background: black;
   color: white;
}

.price label{
	display: inline-block;
	margin: 5px;
}

.price input{
	width: 90%;
}

.color label{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 5px;
	border: 1px solid gray;
	border-radius: 10px;
}

.color label:hover{
	box-shadow: 0px 0px 5px black;
	transform: translate(0px,-4px);
	transition: 0.3s;
}

.color input:checked + label{
	box-shadow: 0px 0px 10px black;
}

label[for="black"]{
	background: black;
	box-shadow: 0px 0px 2px black;
}

label[for="white"]{
	background: white;
	box-shadow: 0px 0px 2px gray;
}

label[for="gray"]{
	background: gray;
	box-shadow: 0px 0px 2px gray;
}

label[for="red"]{
	background: red;
	box-shadow: 0px 0px 2px red;
}

label[for="blue"]{
	background: aqua;
	box-shadow: 0px 0px 2px blue;
}

.brand select ,.categorie select{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size:1.1em ;
	border: 1px solid gray;
	border-radius: 5px;
}


/*product container **************/
.container{
	width: 75%;
	margin-left: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.img_container{
	width: 180px;
	height: 180px;
}

.container figcaption p{
	font-size: 1em;
}

.container figcaption p:last-child{
	font-size: 0.8em;
}

.view_button{
	font-size: 1.1em;
}

/* paginations buttons*******/
.pagination {
	margin-left: 25%;
	width: :75%;
	margin-top: 40px;
	text-align: center;
}

.pagination a{
	display: inline-block;
	padding: 7px;
	margin: 10px 50px;
	width: 70px;
	border: 1px solid black;
}

.pagination a:hover{
	color: white;
	background: black;
	transition: 0.5s;
}



/****************************/ /***********************************/  /****************************/
/*responsive rules ************************/

@media screen and (max-width:870px){
	aside{
		width:35% ;
	}

	section{
		margin-top: 20px;
	}
	.container{
		width: 65%;
	}

	.pagination{
		width: 65%;
		margin-left: 35%;
	}

}
