html{
	scroll-behavior: smooth;
}

/* global styling */
body{
	margin: 0;
	font-family: arial , sans-serif ;
}

a{
	text-decoration: none;
	color: black;
	font-weight: normal;
}

li{	
	list-style-type: none;
}

/*header   *******************************/
header{
	position: sticky;
	top: 0px;
	z-index: 1;
	padding : 8px 3%;
	background-color: rgba(26, 26, 26, 1);
	display :flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(50, 50, 50);
	transition: 0.5s;
}

header div{
	width: 30px;
	height: 30px;
}

header img{
	width: 100%;
}

header ul{
	padding: 0px;
	margin: 0px;
	height: 30px;	
	display: flex;
}

header li{
	margin-left: 20px;	
}

.login{
	background: url('../images/login.svg') no-repeat;
	background-size: cover;
}

.login:hover{
	background: url('../images/loginHover.svg') no-repeat;
	background-size: cover;
}

.logout{
	background: url('../images/logout.svg') no-repeat;
	background-size: cover;
}

.logout:hover{
	background: url('../images/logoutHover.svg') no-repeat;
	background-size: cover;
}

.bag{
	background: url('../images/shoppingBag.svg') no-repeat;
	background-size: cover;
}

.bag:hover{
	background: url('../images/shoppingBagHover.svg') no-repeat;
	background-size: cover;
}

header p{
	margin: 0px;
	padding: 0px;
	background: red;
	border-radius: 15px;
	width: 10px;
	transform: translate(2px,-8px);
	font-size: 0.5em;
	color: whitesmoke;
	text-align: center;
}

#search + input{
	margin: 0px;
	width: 30px;
	height: 30px;
	background: url('../images/loop.svg') no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;
}

#search + input:hover{
	background: url('../images/loopHover.svg') no-repeat;
	background-size: cover;}

#search{
	margin: 0px;
	padding: 5px;
	width: 170px;
	vertical-align: top;	
	border: 2px solid white;
	border-radius:15px ;
	background-color: rgba(26, 26, 26, 1);
	text-align: center;
	color: white;
}

#search:focus{
	outline: none;
	width: 250px;
	transition: 1s;
}