

.product_list h1+div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.product_list figure {
	margin:  10px;	
}

.img_container{
	position: relative;
	width: 270px;
	height: 270px;
}

.img_container img{
	width: 100%;
	height: 100%;
}

.product_list figcaption {
	margin-top: 5px;
	border-top: 1px solid gray;
}

.add_to_bag{
	width: 35px;
	height: 35px;
	background: url('../images/add.svg') no-repeat;
	background-size: cover;
	float: right;
	margin-top: 5px;
}

.add_to_bag a{
	display: inline-block;
	width: 35px;
	height: 35px;
}

.add_to_bag:hover{
	background: url('../images/addHover.svg') no-repeat;
	background-size: cover;
}

.product_list figcaption p{
	font-size: 1.4em;
	margin: 5px;
}


.product_list figcaption p:last-child{
	margin-top: 20px;
	font-size: 1.1em;
	color: gray;
}

.view{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.view:hover{
	opacity: 0.8;
	transition: 0.5s;
}

.view_button{
	margin-bottom: 15%;
	font-size: 1.5em;
	border: 1px solid gray;
}

.view_button a{
	display: inline-block;
	padding: 10px 60px;
	color: gray;
}


.view_button:hover{
	border-color: white;

}

.view_button:hover a{
	color: white;
}