{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/svg" href="{% static 'images/logo.svg' %}" />
		<title>ClickShop Online Shopping Dz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover" />

		<link rel="stylesheet" type="text/css" href="{% static 'css/header_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/footer_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/product_list_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

		<script  type="text/javascript" src="{% static 'js/header_script.js' %}" defer></script>


	</head>

	<body>


		{% include 'app/header.html' %}

		<div class="hero">

			<div class="container">
				
				<div class="slogan">
					<div class="ilust"></div>
					<div>
						<p>Get READY for any <br />occasion </p>
						<div class="shop_now"><a href="#products">Shop Now</a></div>
						<div class="frame_shop_now">shop now</div>
					</div>
				</div>

				<aside>
					<div>
						<a href="https://www.facebook.com/VIP-Shop-103128631935439/"> <img src="{% static 'images/facebook.svg' %}" alt="facebook icon" /> </a>
					</div>
					<div>
						<a href="https://instagram.com/v.i.p_shop16?utm_medium=copy_link"> <img src="{% static 'images/instagram.svg' %}" alt="instagram icon" /> </a>
					</div>
				</aside>

			</div>

		</div>



		<section id="products" class="product_list">
			<h1>Products</h1>
			
			<div>
				{% for product in products %}
					{% include 'app/product_figure.html' %}
				{% endfor %}
			</div>

		</section>


		{% include 'app/footer.html' %}


	</body>
</html>