{% load static %}

<figure>
	<div class="img_container">
		<img src="{{ product.default_color.main_image_URL }}" alt="" />
		<div class="view">
			<div class="view_button">
				<a href="{% url 'view' product.default_color.id %}">View</a>
			</div>
		</div>
	</div>
	<figcaption>
		<div class="add_to_bag">
			<a href="{% url 'view' product.default_color.id %}"></a>
		</div>
		<p>{{product.name}}</p>
		{% if product.final_price != product.price %}
		<p><span style="text-decoration:line-through; color:silver;">{{product.price}} DA </span> <br /> {{product.final_price}} DA </p>
		{% else %}
		<p>{{product.final_price}} DA </p>
		{% endif %}
		<p>colors {{product.colors}}</p>
	</figcaption>
</figure>