Customer:
	First Name: {{shipping.first_name}}
	Last Name: {{shipping.last_name}}
	wilaya: {{shipping.wilaya}}
	Delivery Address: {{shipping.address}}
	Phone: {{shipping.phone}}
	Email: {{shipping.email}}
	Payment Methode: {{shipping.payment_method}}
	DELIVERY : {{DELIVERY_COST}} DA
				
 order summary:
	{% for item in items %} 
	{{item.size}}   x{{item.quantity}}  {{item.total_cost}} DA 
	{% endfor %}
	TOTAL : {{total_cost}} DA

				
																					ClickShop. 
																					{{shipping.date_created}}